/*
Assurance Wireless Colors
#00AEEF - blue
#2DAEFF - light blue
#02A2D8 - logo blue
#800F69 - purple
#D62025 - Virgin Moblie red
*/

/* should only show on mobile and tablets */
/*
.hero-div {
    display: table;
    width: 100vh;
    height: 100vh;
    overflow: hidden;
    background: rgba(255,255,255,0.5); 
}
*/

/* provides space for fixed nav */

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */


/* Login & Signup ************************************************************************/
/* Registration Section ****************************************************************************/

/* Applicant status page *********************************************************************/

/* Ticket Comments New Feature *****************************************************************/

/* Admin Console **************************************************************************/

/* Chat Room Styles Old Feature ************************************************************/


/* Login Form ******************************************************************************/
/* Admin Panel -- Application Management ****************************************************************/
/* can delete am-title, use nav-spacing instead */
/* Home Page & Features Section ********************************************************************/

/* icons */

/* Copyright footer */

/* Home Page */