{% extends "_layout.html" %}
{% block content %}
<div class="container nav-spacing">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h2>Submit an Issue to Customer Support</h2>
            <p>Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.</p>
            <form method="POST">
                <div class="row">
                    <div class="col-md-6">
                    {{ form.hidden_tag() }}
                    {{ form.contact(class_="form-control chat-style", placeholder="Enter your email") }}
                    {% for error in form.contact.errors %}{{ error }}{% endfor %}
                    </div>
                    <div class="col-md-6">
                    {{ form.category(class_="form-control chat-style") }}
                    {% for error in form.category.errors %}
                        {{ error }}
                    {% endfor %}
                    </div>
                </div>
                <br>
                {{ form.title(
                rows='5', cols='30', class_="form-control chat-style",
                placeholder="Type a brief description of your problem"
                )}}
                {% for error in form.title.errors %}
                    {{ error }}
                {% endfor %}
                <br>
                <div class="col-md-6 pl-0">
                {{ form.submit(class_="btn btn-primary form-control") }}
                </div>
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
{% endblock %}