{% extends "_layout.html" %}
{% block content %}
<div class="container login-spacing">
    <div class="row">
        <div class="col-md-5 nav-spacing">
        <!-- Login Form -->
        <div class="login-modal">
            <h2>Welcome Back</h2>
            <form action="/login" method="post">
                <input id="email_field" name="username" type="text" placeholder="Enter Email" class="form-control" required/>
                <input id="password_field" name="password" type="password" placeholder="Enter Password" class="form-control" required/>
                <p>Don't have an account? Apply <a href="{{ url_for('register') }}">here</a></p>
                {% if msg %}
                    <p class="error-msg">{{ msg }}</p>
                {% endif %}
                <input type="submit" value="Sign In" class="btn btn-primary cstm-login" />
            </form>
        </div>
            <div class="col-md-7"></div>
        </div>
    </div>
</div>
{% endblock %}