
.hero-div {
    display: table; 
    height: 65vh; 
    overflow: hidden;
}
.hero-elements {
    display: table-cell; 
    vertical-align: middle;
}
/*
Assurance Wireless Colors
#00AEEF - blue
#2DAEFF - light blue
#02A2D8 - logo blue
#800F69 - purple
#D62025 - Virgin Moblie red
*/

/* provides space for fixed nav */
.nav-spacing {
    margin-top: 2.5rem;
}
body {
    padding-top: 85px;
    padding-bottom: 20px;
    overflow-x: hidden;
}
.navbar-brand {
    padding: 0!important;
}
.navbar-brand img {
    padding: 1rem!important;
}
.navbar-light {
    background-image: linear-gradient(150deg, #fff 50%, #00aeef 40%);
    border-bottom: #800F69 solid 5px;
}
.lb {
    margin-right: 10px;
}

.img-bg2 {
    background-image: url("imgs/align-left-bg.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-position-x: 105%;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Login & Signup */
.btn-box {
    margin-top: 1rem;
}
    .btn-box a {
        margin-left: 1rem;
    }

.cstm-btn {
    border: solid 1.5px #fff!important;
    color: #fff!important;
}

#login-modal {
    display: none;
}

#form-modal {
    padding-top: 2rem;
}

.modal-content {
    background: #f1f1f1;
}

.modal-header {
    border: none;
}

.modal-footer {
    border: none;
}

    .modal-footer button {
        color: #D62025;
        text-shadow: none;
        font-size: 20pt;
    }

/* register.html */
.reg-head {
    margin-top:1.25rem;
}
.su {
    margin-top:1rem;
}

/*Bootstrap Login Modal*/
.login-modal {
    padding-top: 0.7rem;
}

    .login-modal input {
        margin-top: 1rem;
        padding: .5rem;
        border-radius: .45rem;
    }

    .login-modal p {
        padding-top: 0.7rem;
        padding-bottom: 0;
    }

    .login-modal a {
        margin-bottom: 1rem;
    }

.verify-bg {
    background: #2daeff;
    color: #fff;
    padding: 2.5rem;
}
    .verify-bg a {
        color: #fff;
        padding: 1.3rem;
        border: solid #fff 2px;
    }
.verify-btn {
    margin-top: 3rem;
    padding-bottom: 1.2rem;
    color: #fff!important;
}

/* Applicant status page */
.cstm-card {
    margin-top:1.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 1rem;
    border-radius: 15px;
}
.cstm-footer {
    padding-top: 1.2rem;
}
.cs-label {
    background: #252525;
    color: #fff;
    border-radius: 10%;
}
span.badge.badge-light.badge-top {
    float: right;
}
.status-body {
    margin-top:2rem;
    height: 70vh;
}
.status-btn a {
    padding: 1.3rem;
    border: solid #000 2px;
}

/* Chat Room Styles */
#chat {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#text {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.msg-container {
    padding-left: 0;
}
.ticket-title {
    margin-top: 3rem;
}
.ticket-title h1 {
    padding-bottom: 1rem;
}

/* Admin Panel -- Application Management */
.bg-dark {
    background:transparent!important;
    padding: .5rem 0;
}
/*also any normal link */
.am-title {
    padding: 1.2rem 0;
    margin-bottom: 0;
}
.chkBox {
    padding: .5rem;
}
/* Copywrite footer */
footer {
    text-align: center;
}