{% extends "_layout.html" %}
{% block title %}
{% endblock %}
{% block content %}
<div class="container">
    <h2 class="am-title">Application Manager</h2>
 
    <!-- Data to process or search -->
    <form action="{{url_for('.processApps')}}" method="POST" id="apps">
      <nav class="navbar navbar-dark bg-dark">
      
        <!-- Container for Accept & Deny Buttons -->
        <div class="form-inline">
          <button type="submit" value="Accepted" name="submit_btn"
            class="btn btn-success mr-2">Accept
          </button>
  
          <button type="submit" value="Denied" name="submit_btn"
           class="btn btn-danger">Deny
          </button>
        </div>
  
        <!-- Search Controls -->
        <div class="form-inline">
          <select class="form-control mr-2" name="filter">
            <option value="All">Show All</option>
            <option value="Pending">Show Pending</option>
            <option value="Accepted">Show Accepted</option>
            <option value="Denied">Show Denied</option>
          </select>
          
          <!-- Search field and search button -->
          <input class="form-control mr-sm-2" type="search" 
          placeholder="Search" aria-label="Search">

          <button name="search-btn" type="submit"
          class="btn btn-outline-success my-2 my-sm-0">Search</button>
        </div>
      </nav>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Status</th>
            <th scope="col">Applicant</th>
            <th scope="col">Email</th>
            <th scope="col">Zip Code</th>
            <th scope="col">Submit Datetime</th>
          </tr>
        </thead>
        <tbody>
          {% for row in apps %}
            <tr name="process">
              <td>
                <input type="checkbox" name="selected" value="{{row[0]}}">
              </td>
              <td>{{ row[1] }}</td> <!-- app status string -->
              <td>{{ row[2] }} {{ row[3] }}</td>
              <td>{{ row[4] }}</td>
              <td>{{ row[5] }}</td>
              <td>{{ row[6] }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </form>
</div>

{% endblock %}