{% extends "_layout.html" %}
{% block content %}
    <div class="container-fluid nav-spacing">
        <div class="app-mngr-box">
            <h4>Customer Support Queue </h4>
            <p class="text-right">Current User: {{session['email']}}</p>
        </div>
        <form method="post">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Queue #</th>
                        <th scope="col">Availablity</th>
                        <th scope="col">Category</th>
                        <th scope="col" colspan="2">Question</th>
                        <th scope="col">Inquirer</th>
                        <th scope="col">Acceptor</th>
                        <th scope="col">Time Created</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in tickets %}
                    <tr>
                        <th scope="row">
                            <input type="submit" value="{{ row[0] }}" name="tkt">
                        </th>
                        <td>{{ row[1] }}</td>
                        <td colspan="2">{{ row[2] }}</td>
                        <td>{{ row[3] }}</td>
                        <td>{{ row[4] }}</td>
                        <td>{{ row[5] }}</td>
                        <td>{{ row[6] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </form>
    </div>
{% endblock %}
