{% extends "_layout.html" %}
{% block head %}
    <title>Flask-SocketIO-Chat: {{ room }}</title>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<!--
    <script type="text/javascript" charset="utf-8" src="{{ url_for('static', filename='js/main.js') }}"></script>
 DELETE LINE ABOVE USE BELOW INLINE CODE -->
    <script type="text/javascript" charset="utf-8">
        var io = require("socket.io");
        var socket = io.listen(80);

        function select_room(room) {
            console.log("Joining room: " + room);
            window.location.href = "{{ url_for('main.chat') }}";
            socket.join(room);
            console.log(socket.id + " now in rooms ", socket.rooms);
        }
    </script>
{% endblock %}
{% block content %}
<div class="container nav-spacing">
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Queue #</th>
            <th scope="col">Status</th>
            <th scope="col" colspan="2">Question</th>
            <th scope="col">Inquirer</th>
            <th scope="col">Time</th>
        </tr>
    </thead>
    <tbody>
        {% for row in tickets %}
        <!--<tr class="channel" onclick="join_room('test 1.3');">-->
        <tr onclick="select_room('test 1.3');">
            <th scope="row"><a href="#">{{row[0]}}</a></th>
            {% if row[3] != None %}
                <td id="status" onmouseover="user('{{row[3]}}');">closed</td>
            {% endif %}
            <td id="status2" onmouseover="user('{{row[3]}}');">open</td>
            <td colspan="2">{{row[1]}}</td>
            <td>{{row[2]}}</td>
            <td>{{row[4]}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}
{% block js %}
    <script>

    </script>
{% endblock %}