{% extends "_layout.html" %}
{% block head %}
<title>Customer Support Chat</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}
<div class="container nav-spacing">
    <div class="row">
        <div class="col-md-6">
            <h3>Messages for Ticket: {{session.get('ticket')}}</h3>
        </div>
        <div class="col-md-6 ticket-actions">
            <a href="{{url_for('get_chat_log')}}" class="btn btn-outline-default">
                <i class="fa fa-download" aria-hidden="true"></i>
                Download Chat Log
            </a>
        </div>
    </div>

    <div id="display_info"></div>

    <form method="post" class="fixed-bottom">
        <div class="input-group sender-style">
            <input type="text" name="msg" class="form-control" id="send-msg" placeholder="Enter you message here..." required>
            <span class="input-group-btn">
                <button type="submit" class="btn btn-secondary">Send Message</button>
            </span>
        </div>
    </form>
</div>
{% endblock %}
{% block js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    // used for auto-loading chat room
    function loaddata() {
        $.ajax({
            url: "/show-data",
            success: function (response) {
                $('#display_info').html(response);
            }
        });
        // recursive call to set timeout function
        setTimeout(loaddata, 1000);
    }
    loaddata();
</script>
<script>
    // prevents duplicate comments on refresh
    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
    }
</script>
{% endblock %}