<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lifeline Assistant</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}"/>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('home') }}">
                    <img src="{{ url_for('static', filename='imgs/LA-logo-sm.png') }}" width="100px">
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('about') }}">About</a></li>
                    <li><a href="{{ url_for('contact') }}">Contact</a></li>                   
                    <!-- Admin User Options -->
                    {% if session['admin'] %}
                        <li><a href="{{ url_for('accounts') }}">Manage Accounts</a></li>
                        <li><a href="{{ url_for('applications') }}">Manage Applications</a></li>
                    {% endif %}
                </ul>
                <!--Login/Signup Buttons-->
                <div class="text-right btn-box">
                    {% if session['email'] %}
                    <a class="btn btn-primary" href="{{ url_for('sessionView.showStatus') }}">Application Status</a>
                    <a class="btn cstm-btn" href="/logout">Log Out</a>
                    {% else %}
                    <a class="btn btn-primary" href="{{ url_for('register') }}">Enroll Now</a>
                    <a class="btn cstm-btn" data-toggle="modal" data-target="#loginModal">Log In</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>    

    <!-- Dynamic Content Here-->
    {% block content %}
    {% endblock %}

    <!-- Login Modal -->
    <div id="loginModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header row"></div>
                <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
            
                <!-- Login Form -->
                <div class="login-modal">
                    <h3>Welcome Back</h3>
                    <form action="/login" method="post">
                        <input id="email_field" name="username" type="text" placeholder="Enter Email" class="form-control"/>
                        <input id="password_field" name="password" type="password" placeholder="Enter Password" class="form-control" />
                        <p>Don't have an account? Sign up <a href="#">here</a></p>
                        <input type="submit" value="Sign In" class="btn btn-success" />
                        {% if msg %}
                            <p>{{ msg }}</p>
                        {% endif %}
                    </form>
                </div>
                </div>
                <div class="col-md-3"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Virtual Assistant Window -->
    <iframe
        id="bot"
        src=""  
        style='min-width: 400px;'>
    </iframe>
    <div id="bot-block">
        <h5 onclick="showBot()">Launch Virtual Assistant<i class="fa-info-circle"></i></h5>
    </div>

    <!-- Footer -->
    <div class="container body-content">
        <hr />
        <footer>
            <p>&copy; 2020 - LifelineAssistant </p>
        </footer>
    </div>

    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
            crossorigin="anonymous"
            integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
            crossorigin="anonymous"
            integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
    </script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
