{% extends "_layout.html" %}
<!-- NOT IN USE SHOULD BE REMOVED IN LATEST VERSION -->
{% block head %}
    <title>Flask-SocketIO-Chat: {{ room }}</title>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

    <script>
    var socket = io();
    $(document).ready(function() {
        socket = io.connect('http://' + document.domain + ':' + location.port + '/chat');

        socket.on('connect', function() {
            socket.emit('joined', {});
        });

        socket.on('connect', function() {
            socket.emit('admin_joined', {});
        });

        /* TEMPORARILY COMMENTED: DO NOT DELETE */
        socket.on('status', function(data) {
            $('#chat').val($('#chat').val() + '<' + data.msg + '>\n');
            $('#chat').scrollTop($('#chat')[0].scrollHeight);
        });

        socket.on('message', function(data) {
            $('#chat').val($('#chat').val() + data.msg + '\n');
            $('#chat').scrollTop($('#chat')[0].scrollHeight);
        });


        $('#text').keypress(function(e) {
            var code = e.keyCode || e.which;
            if (code == 13) {
                text = $('#text').val();
                $('#text').val('');
                socket.emit('text', {msg: text});
            }
        });

    });

    // Having trouble calling theses functions 3-11-2020 unless inline
    function select_room(room) {
        console.log("Joining room: " + room);
        // async function
        socket.join_room(room, function() {
            window.location.href = "/chat";
            console.log(socket.id + " now in rooms ", socket.rooms);
        });

    }

    function leave_room() {
        socket.emit('left', {}, function() {
            socket.disconnect();
            // go back to the login page
            window.location.href = "{{url_for('main.support')}}";
        });
    }
    </script>
{% endblock %}
{% block content %}
<div class="container ticket-title">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 msg-container">
            <h2>Support Ticket: {{ room }}</h2>
            <textarea class="form-control" id="chat" cols="80" rows="10"></textarea><br>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 msg-container">
            <input class="form-control" id="text" size="80" placeholder="Enter your message here"><br>
        </div>
        <div class="col-md-2"></div>
    </div>
    <a href="#" onclick="leave_room();">Leave this room</a>

</div>
{% endblock %}