{% extends "_layout.html" %}
{% block title %}
<title>Home Page</title>
{% endblock %}
{% block content %}
<div class="container img-bg2">
    <div class="hero-div">
        <div class="hero-elements">
            <h1>Lifeline Services</h1>
            <h5>Smart Phones, Unlimited Texts, Monthly Data & Minutes</h5>
            <h6>FREE To Qualifying Low-Income Households</h6>
            <br>    
            <a href="{{ url_for('main.register') }}" class="btn btn-primary btn-lg">Apply Now!</a>
        </div>
    </div>
</div>
<section class="featured-area home-featured-area underlined-section container" style="padding: 0" id="section1" data-loading="loaded">
    <div class="row">
        <div class="col-sm-6 fleft">
            <div class="feature-area left-feature" style="height: 798px;">
            <h3>Federal Lifeline Assistance:</h3>
            <p>Assurance Wireless is a federal Lifeline Assistance program brought to you by Virgin Mobile. Lifeline is a government assistance program.&nbsp;The Assurance Wireless offer provides eligible low-income free monthly data, unlimited texting, and free monthly minutes. Plus a free phone.</p>
            <h3>Qualifications:</h3>
            <p>Enrollment is available to individuals who qualify based on federal or state-specific eligibility criteria. You may qualify if you are on certain public assistance programs, like Medicaid or Supplemental Nutrition Assistance Program (SNAP). You can also qualify based on your household income.</p>
            <h3>Proof of Eligibility:</h3>
            <p>You must provide proof of program participation or proof of income.</p>
            <h3>One Account per Household:</h3>
            <p>The Lifeline Assistance program is available for only one wireless or wireline account per household. Separate households that live at the same address are eligible, including residents of homeless shelters and nursing homes. Residents with temporary addresses are also eligible.</p>

            <div class="row text-center hidden-sm hidden-xs">
                <div class="col-xs-12">
                    <a class="btn btn-default" href="https://www.fcc.gov/consumers/guides/lifeline-support-affordable-communications">
                        FCC Public Service Announcement
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 fright right-dual">
        <div class="feature-area right-feature" style="height: 798px;">
        <div><br>
        <div class="home-icon-area">
             <a href="/lifeline-services/what-lifeline">
                <img src="{{ url_for('static', filename = 'imgs/more-about-Lifeline.png') }}">
                <h3>More About Lifeline Service</h3>
                <p>Learn more about the Lifeline Assistance program.</p>
             </a>
        </div>
        <div class="clearfix"></div>
          <div class="home-icon-area">
             <a class="apply-now-link" href="{{ url_for('main.register') }}">
                <img src="{{ url_for('static', filename='imgs/assurance-wireless-apply-online.png') }}">
                <h3>Apply Online</h3>
                <p>Apply online to see if you qualify.</p>
             </a>
          </div>
          <div class="clearfix"></div>
          <div class="home-icon-area">
             <a class="apply-now-link" href="{{ url_for('main.show_status') }}">
                <img src="{{ url_for('static', filename='imgs/assurance-wireless-quick-icon.png') }}">
                <h3>Check Status</h3>
                <p>Once you apply, come back to check on the status of your application.</p>
             </a>
          </div>
          <div class="clearfix"></div>
          <div class="home-icon-area">
             <a href="#">
                <img src="{{ url_for('static', filename='imgs/how-to-qualify-assurance.png') }}" style="margin-top: 15px;">
                <h3>How to Qualify</h3>
                <p>Find out how to qualify for the Lifeline Assistance program.</p>
             </a>
          </div>
          <div class="clearfix"></div>
          <div class="home-icon-area">
             <a href="/lifeline-services/testimonials">
                <img src="{{ url_for('static', filename='imgs/testimonials-icon.png') }}">
                <h3>Testimonials</h3>
                <p>See what our customers are saying.</p>
             </a>
          </div>
          <div class="clearfix"></div>
          <div class="home-icon-area">
             <a href="/lifeline-services/check-availability">
                <img src="{{ url_for('static', filename='imgs/check-lifeline-availability.png') }}">
                <h3>Check Availability</h3>
                <p>Enter your zip code to check availability in your area.</p>
             </a>
          </div>
        </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
