{% extends "_layout.html" %}
{% block title %}
<title>Home Page</title>
{% endblock %}
{% block content %}
<div class="text-center landing-area"></div>
<div class="landing-content">
    <h1>Lifeline Assistant</h1>
    <p>Brought to you by Assurance Wireless.</p>
    <a onclick="showBot()" class="btn btn-primary">Request Assistance</a>
</div>
<div class="verify-bg">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 text-center">
            <h4>Improve your chances of getting accepted for Assurance Wireless's services. See if you qualify below.</h4>
            <div class="verify-btn">
                <a href="https://nationalverifier.service-now.com/lifeline">National Lifeline Verifier</a>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
{% endblock %}