{% extends "_layout.html" %}
{% block content %}
<!--    {% with messages = get_flashed_messages() %}-->
<!--        {% if messages %}-->
<!--            {% for msg in messages %}-->
<!--                 <p id="p1" style="display: none;">{{msg}}</p>-->
<!--            {% endfor %}-->
<!--        {% endif %}-->
<!--    {% endwith %}-->


<div class="container">
    <div class="row">
        <div class="col-md-4 nav-spacing">
        <!-- Login Form -->
        <div class="login-modal">
            <h2>Welcome Back</h2>
            <form action="/login" method="post">
                <input id="email_field" name="username" type="text" placeholder="Enter Email" class="form-control"/>
                <input id="password_field" name="password" type="password" placeholder="Enter Password" class="form-control" />
                <p>Don't have an account? Apply <a href="{{ url_for('main.register') }}">here</a></p>
                <input type="submit" value="Sign In" class="btn btn-primary form-control" />
                <!-- Error message here [NOT IMPLEMENTED]-->
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for msg in messages %}
                            <div class = "alert alert-warning alert-danger" role="alert">{{msg}}</div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </form>
        </div>
            <div class="col-md-8"></div>
        </div>
    </div>
</div>
{% endblock %}