{% extends "_layout.html" %}
{% block title %}
<title>Register</title>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h3>Apply for Free Mobile Phone Services</h3>
        <p>First we will need some information so we can contact you later with the results of your application.</p>
        <form action="/register" method="post">
            <input name="zipcode" type="number" placeholder="Enter your zip code" class="form-control su">
            <input name="street" type="address" placeholder="Enter your street address" class="form-control su">
            <div class="row">
                <div class="col-md-8">
                    <input name="city" type="text" placeholder="Enter your city" class="form-control su">
                </div>

                <div class="col-md-4">
                    <select name="state" class="form-control su">
                        <option value="AZ">AZ</option>
                        <option value="NJ">NJ</option>
                        <option value="NY">NY</option>
                    </select>        
                </div>    
            </div>
            <input name="first" type="text" placeholder="First Name" class="form-control su">

            <input name="last" type="text" placeholder="Last Name" class="form-control su">

            <p class="su">Please enter your date of birth followed by the last four digits of your social security number.</p>
            <div class="row">
                <div class="col-md-6">
                    <input type="date" name="dob" placeholder="Date of birth" class="form-control su">
                </div>

                <div class="col-md-6">
                    <input type="number" name="ssn" placeholder="Last 4 digits of SSN" class="form-control su">
                </div>
            </div>

            <input name="phone" type="number" placeholder="Phone number (optional)" class="form-control su">
            <p class="su">Select you native language</p>
            
            <select name="language" class="form-control su">
                <option value="english">English</option>
                <option value="spanish">Spanish</option>
            </select>
            
            <p class="su"><b>Note:</b> The below two fields will allow you to login and track the status of your application.</p>
            <input name="email" type="text" placeholder="Email" class="form-control su">
            <input name="password" type="password" placeholder="Password" class="form-control su">
            
            <button type="submit" class="btn btn-success su">Submit Application</button>
        </form>
    </div>
    <div class="col-md-4"></div>
</div>

{% endblock %}