    {% extends "_layout.html" %}
{% block title %}
{% endblock %}
{% block content %}
<div class="container status-body">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 cstm-card">
            <h2>Application Status <span class="badge badge-light badge-top">{{rs[3]}}</span></h2>
            <ul>
                <li>
                    <h5>Applicant: {{rs[0]}} {{rs[1]}}</h5>
                </li>
                <li>
                    <h5>Applied On: {{rs[2]}}</h5>
                </li>
                <li>
                    <h5>Address: {{rs[5]}}, {{rs[6]}}, {{rs[7]}}, {{rs[4]}}</h5>
                </li>
            </ul>
            <div class="cstm-footer">
                <p>Your results will be emailed to you at <a href="#">{{session['email']}}</a></p>
                <h3><span class="badge badge-light">Date Submitted: </span></h3>
            </div>

        </div>
        <div class="col-md-3"></div>
    </div>
</div>
{% endblock %}