{% extends "_layout.html" %}
{% block title %}
{% endblock %}
{% block content %}
<div class="container status-body">
    <h2>Application Status <span class="badge badge-secondary">{{rs[3]}}</span></h2>
    <ul>
        <li>
            <h5>Applicant: {{rs[0]}} {{rs[1]}}</h5>
        </li>
        <li>
            <h5>Applied On: {{rs[2]}}</h5>
        </li>
    </ul>
    <h3>Residential Information</h3>
    <ul>
        <li>
            <h5>{{rs[5]}}, {{rs[6]}}, {{rs[7]}}, {{rs[4]}}</h5>
        </li>
    </ul>
    <p>Your results will be emailed to you at <a href="#">{{session['email']}}</a></p>
    <button class="btn btn-primary">Review Application</button>
</div>
{% endblock %}