{% extends "_layout.html" %}
<!-- NOT IN USE SHOULD BE REMOVED IN LATEST VERSION -->
{% block content %}
<div class="container am-title">
    <h1>Customer Support Chat</h1>
    <div class="row">
        <div class="col-md-4">
            <form method="POST">
                {{ form.hidden_tag() }}
                {{ form.nonuser_email(class_="form-control chat-style", placeholder="Enter your email") }}
                {% for error in form.nonuser_email.errors %}{{ error }}{% endfor %}
                <br>
                {{ form.room(rows='5', cols='30', class_="form-control chat-style", placeholder="Type a brief description of your problem") }}
                {% for error in form.room.errors %}
                    {{ error }}
                {% endfor %}
                <br>
                {{ form.submit(class_="btn btn-primary") }}
            </form>
        </div>
        <div class="col-md-8"></div>
    </div>
</div>
{% endblock %}